
<%-include('header.ejs')-%>

<div class="container cust-profile">
    <div class="row  border border-dark">
        <div class="col cust-profile-box">
            <h1 class="cust-profile-name"><%=customerDetails.name%>'s Wallet</h1>
            <div class ="row">
                <div class="col-sm-6 cust-bal-div">
                    <h4 class="paymate-blue">Balance</h4>
                    <h2><%=customerDetails.balance%></h2>
                </div>
                <div class="col-sm-6 cust-acc-no-div">
                    <h4 class="paymate-blue">Account No.</h4>
                    <h2><%=customerDetails._id%></h2>
                </div>
            </div>
            <form action="/transfer" method="post">
                <button name="customerName" type="submit" value="<%=customerDetails.name%>" class="btn btn-primary cust-pay-btn">Transfer</button>
            </form>
        </div>
    </div>
</div>

<%-include('footer.ejs')-%>